<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lunch Checker</title>
	<script src="style/angular.min.js"></script>
	<script src="style/app.js"></script>
	<link rel="stylesheet" href="style/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
</head>
<body ng-app='LunchCheck'>
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="item">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="Express()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           {{message}}
         </div>
   </div>

</body>
</html>